@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  /* padding-left: 60px; */
  /* padding-right: 70px; */
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.6;
}

body {
  /* font-size: 62.5%;
  line-height: 1.6; */
  font-family: "Roboto Mono", monospace;
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  /* background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100% */
  /* ); */
  min-height: 100vh;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-direction: column; */
  color: white;
}

.container {
  padding: 0rem 1rem;
}

.container-center {
  max-width: 600px;
  margin: auto;
}
i {
  color: white;
}
a,
a:hover {
  text-decoration: none;
}

.searchBox {
  position: relative;
  display: flex;
  /* justify-content: center; */
  justify-content: end;
  padding: 50px 50px;
  /* align-items: center; */
  align-items: flex-end;
}

.searchText {
  width: 0rem;
  border-radius: 5rem;
  border: none;
  outline: none;
  transition: all 0.2s linear;
}

.searchText:focus {
  outline: none;
}

.searchBtn {
  width: 5rem;
  height: 5rem;
  /* background-color: #192a56; */
  /* color: white; */
  position: absolute;
  /* : 10px; */
  right: 58px;
  display: grid;
  place-items: center;
}

.searchBox:hover > .searchText {
  width: 40rem;
  padding: 1rem;
  /* box-shadow: 0 2rem 2rem -1.5rem rgba(0, 0, 0, 0.5); */
}

.searchBox:hover > .searchBtn {
  /* background: #fff; */
  /* color: royalblue; */
}

img {
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04aa6d;
} */

/* .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  font-weight: bold;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0;
} */

.topnav {
  overflow: hidden;
  background: linear-gradient(40deg, #4b6cb7 8%, #182848 60%);
  /* background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%); */
}

.topnav h1 {
  float: left;
  text-align: center;
  align-items: center;
  padding-top: 55px;
  padding-bottom: 60px;
  padding-left: 10px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  /* background-color: #3d23d1; */
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196f3;
  color: white;
}

/* Style the search box inside the navigation bar */
form {
  float: right;
}
