@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.6;
}

body {
  /* font-size: 62.5%;
  line-height: 1.6; */
  font-family: "Roboto Mono", monospace;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a,
a:hover {
  text-decoration: none;
}

.searchBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchText {
  width: 0rem;
  border-radius: 5rem;
  border: none;
  outline: none;
  transition: all 0.2s linear;
}

.searchText:focus {
  outline: none;
}

.searchBtn {
  width: 5rem;
  height: 5rem;
  background-color: #192a56;
  color: white;
  position: absolute;
  place-items: center;
  display: grid;
  right: 1rem;
}

.searchBox:hover > .searchText {
  width: 40rem;
  padding: 4rem;
  box-shadow: 0 2rem 2rem -1.5rem rgba(0, 0, 0, 0.5);
}

.searchBox:hover > .searchBtn {
  background: #fff;
  color: royalblue;
}

form * {
  font-family: inherit;
  font-size: inherit;
}

img {
  width: 50%;
  max-width: 50%;
}

.navigation .nav-brand {
  font-weight: bold;
  font-size: 2rem;
  color: white;
}

.footer {
  padding: 2rem 1rem;
  text-align: center;
}

.footer .footer-header {
  font-weight: bold;
  font-size: large;
}
