@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.6;
}

body {
  font-family: "Roboto Mono", monospace;
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);

  min-height: 100vh;

  color: white;
}

.container {
  padding: 0rem 1rem;
}

.container-center {
  max-width: 600px;
  margin: auto;
}
i {
  color: white;
}
a,
a:hover {
  text-decoration: none;
}

.searchBox {
  position: relative;
  display: flex;

  justify-content: end;
  padding: 50px 50px;

  align-items: flex-end;
}

.searchText {
  width: 0rem;
  border-radius: 5rem;
  border: none;
  outline: none;
  transition: all 0.2s linear;
}

.searchText:focus {
  outline: none;
}

.searchBtn {
  width: 5rem;
  height: 5rem;

  position: absolute;

  right: 58px;
  display: grid;
  place-items: center;
}

.searchBox:hover > .searchText {
  width: 40rem;
  padding: 1rem;
}

.searchBox:hover > .searchBtn {
}

img {
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.topnav {
  overflow: hidden;
  background: linear-gradient(40deg, #4b6cb7 8%, #182848 60%);
}

.topnav h1 {
  float: left;
  text-align: center;
  align-items: center;
  padding-top: 55px;
  padding-bottom: 60px;
  padding-left: 10px;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: black;
}

.topnav a.active {
  background-color: #2196f3;
  color: white;
}

form {
  float: right;
}
